[Unit]
Description=Timer that runs twice per day

[Timer]
# OnCalendar=*-*-* 10,22:00:00
OnCalendar=hourly
Persistent=true
Unit=dotfiles.service

[Install]
WantedBy=timers.target